footer {
    visibility: hidden
}

#generate_button {
    color: white;
    border-color: #007bff;
    background: #007bff;
    width: 150px;
    margin-top: 38px;
    height: 80px;
}

#save_button {
    color: white;
    border-color: #028b40;
    background: #01b97c;
    width: 200px;
}

#settings_header {
    background: rgb(245, 105, 105);

}