accelerate==0.23.0
diffusers==0.23.0
transformers==4.35.0
PyQt5
Pillow==9.4.0
openvino==2023.2.0
optimum==1.14.0
optimum-intel==1.12.1
onnx==1.15.0
onnxruntime==1.16.1
pydantic==2.4.2
typing-extensions==4.8.0
pyyaml==6.0.1
gradio==3.39.0
peft==0.6.1
opencv-python==4.8.1.78