accelerate==0.29.3
diffusers==0.27.2
transformers==4.39.3
PyQt5
Pillow==9.4.0
openvino==2024.0.0
optimum-intel==1.16.0
onnx==1.16.0
onnxruntime==1.17.3
pydantic==2.4.2
typing-extensions==4.8.0
pyyaml==6.0.1
gradio==4.23.0
peft==0.6.1
opencv-python==4.8.1.78
omegaconf==2.3.0
controlnet-aux==0.0.7
mediapipe==0.10.9